*{
       margin: 0%;
       padding: 0%;
       text-align: center;
}

nav{
       position: sticky;
       top: 0;
       z-index: 10;
       display: flex;
       justify-content: space-around;
       align-items: center;
       height: 80px;
       background-color: black;
       color: white;
}

a{
       text-decoration: none;
       color: white;
}